:root {
    --fg: black;
    --bg: white;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--fg);
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

/*
GLOBAL \\\\\\\\\\\\\\\\\\
*/
h1 {
    font-size: 50px;
}

p {
    font-size: 36px;
}

a {
    text-decoration: none;
    font-size: 36px;
}

.buffer {
    margin-bottom: 150px;
}

/* 
CUSTOM \\\\\\\\\\\\\\\\\\\\
*/
header {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    margin: auto;
}

main > .about-me > .title {
    text-align: center;
    margin-bottom: 20px;
}

main > .skills > .title {
    text-align: center;
    margin-bottom: 20px;
}

main > .projects > .title {
    text-align: center;
}

main > .more {
    text-align: center;
}
main > .more > a {
    text-decoration: none;
    display: block;
    padding: 10px;
}