:root {
    --ffg: #0D0D0D;
    --fg: #242B2E;
    --bg: white;
    --bfont: 'Courier New', Courier, monospace;
    --sfont: arial;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--fg);
    background-color: var(--bg);
    transition: .5s;
    font-family: 'Courier New', Courier, monospace;
}

*:hover {
    color: var(--ffg);
}

/*
GLOBAL \\\\\\\\\\\\\\\\\\
*/
h1 {
    font-size: 50px;
    font-family: var(--bfont);
}

p {
    font-size: 36px;
    font-family: var(--sfont);
}

a {
    text-decoration: none;
    font-size: 36px;
    font-family: var(--sfont);
}

.buffer {
    margin-bottom: 150px;
}

/* 
CUSTOM \\\\\\\\\\\\\\\\\\\\
*/
header {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    width: 60%;
    margin: auto;
}

main > .about-me > .title {
    text-align: center;
    margin-bottom: 20px;
}

main > .skills > .title {
    text-align: center;
    margin-bottom: 20px;
}

main > .projects > .title {
    text-align: center;
}

main > .more {
    text-align: center;
}
main > .more > a {
    text-decoration: none;
    display: block;
    padding: 10px;
}